<!DOCTYPE html>
<html>
<head>
<title></title>
</head>
<body>

<div id="app">

<pre>
composer create-project drupal/recommended-project my_site_name_dir
composer require drupal/pathauto
</pre>

===

<pre>
MODULEPATH="web/modules/custom"
MODULENAME="{{ modulename }}"
mkdir -p $MODULEPATH/$MODULENAME/src/Controller
mkdir -p $MODULEPATH/$MODULENAME/src/Form
touch $MODULEPATH/$MODULENAME/README.md
touch $MODULEPATH/$MODULENAME/$MODULENAME.info.yml
touch $MODULEPATH/$MODULENAME/$MODULENAME.routing.yml
touch $MODULEPATH/$MODULENAME/src/Controller/UserReportController.php
touch $MODULEPATH/$MODULENAME/src/Form/SettingsForm.php
</pre>

===
$MODULENAME.info.yml
<pre>
name: Alianza de Amor Core
type: module
description: Any customization to AA
package: Custom
core_version_requirement: ^8 || ^9
</pre>

===
  $MODULENAME.routing.yml
<pre>
{{ modulename }}.content:
  path: '/example'
  defaults:
    _controller: '\Drupal\{{ modulename }}\Controller\UserReportController::content'
    _title: 'Hello World'
  requirements:
    _permission: 'access content'
{{ modulename }}.admin_settings:
  path: '/admin/config/{{ modulename }}/settings'
  defaults:
    _form: '\Drupal\{{ modulename }}\Form\SettingsForm'
    _title: '{{ modulename }} Settings'
  requirements:
    _permission: 'access administration pages'
  options:
    _admin_route: TRUE
</pre>

===
src/UserReportController.php
<pre>
&lt;?php

/**
 * @file
 * Contains Drupal\{{ modulename }}\Form\SettingsForm.
 */

namespace Drupal\{{ modulename }}\Form;

use Drupal\Core\Form\ConfigFormBase;
use Drupal\Core\Form\FormStateInterface;

class SettingsForm extends ConfigFormBase {

  /**
   * {@inheritdoc}
   */
  protected function getEditableConfigNames() {
    return [
      '{{ modulename }}.settings',
    ];
  }

  /**
   * {@inheritdoc}
   */
  public function getFormId() {
    return '{{ modulename }}_settings';
  }

  /**
   * {@inheritdoc}
   */
  public function buildForm(array $form, FormStateInterface $form_state) {
    $config = $this->config('{{ modulename }}.settings');

    $form['crawl_html'] = [
      '#type' => 'textarea',
      '#title' => $this->t('Crawl'),
      '#description' => $this->t('HTML page to crawl'),
      '#default_value' => $config->get('crawl_html'),
    ];

    return parent::buildForm($form, $form_state);
  }

  /**
   * {@inheritdoc}
   */
  public function submitForm(array &$form, FormStateInterface $form_state) {
    parent::submitForm($form, $form_state);

    $this->config('{{ modulename }}.settings')
      ->set('crawl_html', $form_state->getValue('crawl_html'))
      ->save();
  }

}
</pre>

===
src/UserReportController.php
<pre>
&lt;?php

namespace Drupal\{{ modulename }}\Controller;

use Drupal\Core\Controller\ControllerBase;

/**
 * Class UserReportController.
 *
 * @package Drupal\{{ modulename }}\Controller
 */
class UserReportController extends ControllerBase {

  /**
   * Returns a render-able array for a test page.
   */
  public function content() {
    $build = [
      '#markup' => $this->t('Report page'),
    ];
    return $build;
  }

}
</pre>
</div>

===
===


<div id="app-migrate-csv">
<pre>
MODULEPATH="web/modules/custom"
MODULENAME="{{ modulename }}"
MIGRATIONNAME="{{ migrationname }}"
MIGRATIONGROUP="{{ migrationgroup }}"
mkdir -p $MODULEPATH/$MODULENAME/config/install
touch $MODULEPATH/$MODULENAME/README.md
touch $MODULEPATH/$MODULENAME/$MODULENAME.info.yml
touch $MODULEPATH/$MODULENAME/config/install/migrate_plus.migration_group.{{ migrationgroup }}.yml
touch $MODULEPATH/$MODULENAME/config/install/migrate_plus.migration.{{ migrationname }}.yml
</pre>

===
$MODULEPATH/$MODULENAME/README.md
<pre>
# Migration

## User migration

* Migrating content

</pre>

===
$MODULEPATH/$MODULENAME/$MODULENAME.info.yml
<pre>
name: '{{ migrationgroup }} content'
description: '{{ migrationgroup }} content migration'
type: module
package: Custom
core_version_requirement: ^8 || ^9
dependencies:
  - migrate_plus:migrate_plus
  - migrate_source_csv:migrate_source_csv
  - migrate_tools:migrate_tools
version: 8.x-1.0
</pre>

===
$MODULEPATH/$MODULENAME/config/install/migrate_plus.migration.{{ migrationname }}.yml
<pre>
langcode: en
status: true
dependencies: {  }
id: {{ migrationname }}
class: null
field_plugin_method: null
cck_plugin_method: null
migration_tags:
  - prod
  - csv
migration_group: {{ migrationgroup }}
label: 'CSV user data'
source:
  plugin: url
  data_fetcher_plugin: http
  data_parser_plugin: json
  urls:
    - 'http://mustodbrisbanebsocrybbh6.devcloud.acquia-sites.com/export/users'
  item_selector: users
  fields:
    -
      name: uid
      selector: uid
    -
      name: name
      selector: name
  ids:
    uid:
      type: integer
process:
  uid: uid
  name: name
  mail: mail
destination:
  plugin: 'entity:user'
migration_dependencies:
  required: {  }
  optional: {  }
</pre>

===
$MODULEPATH/$MODULENAME/config/install/migrate_plus.migration_group.{{ migrationgroup }}.yml

<pre>
langcode: en
status: true
dependencies: {  }
id: {{ migrationgroup }}
label: '{{ migrationgroup }} migration'
description: '{{ migrationgroup }} migration'
source_type: 'CSV data'
module: null
shared_configuration: null
</pre>


</div>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script type="text/javascript">
var app = new Vue({
  el: '#app',
  data: {
    modulename: 'table_formatter'
  }
});
var appmigrate = new Vue({
  el: '#app-migrate-csv',
  data: {
    company: 'AA',
    modulename: 'aa_content',
    migrationname: 'aa_user_csv',
    migrationgroup: 'aa_data'
  }
});
</script>

</body>
</html>
